name: orus-api
services:

  orus-api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "8"
          memory: 8G
        reservations:
          cpus: "4"
          memory: 8G
    stdin_open: true
    tty: true
    ports:
      - "8081:8081"
    volumes:
      - ../../onnx:/go/bin/onnx
    networks:
      - orus_network

  ollama:
    image: ollama/ollama:rocm
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - /dev/kfda:/dev/kfd
      - /dev/dri/:/dev/dri
    environment:
      - HSA_OVERRIDE_GFX_VERSION=10.3.0
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_NUM_PARALLEL=6
      - OLLAMA_MAX_LOADED_MODELS=4
      - OLLAMA_KEEP_ALIVE=30m
      - OLLAMA_DEBUG=1
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.00" 
    networks:
      - orus_network

networks:
  orus_network:
    driver: bridge

volumes:
  ollama_dev_data:
    driver: local
  go_cache:
    driver: local  
  onnx_data:
    driver: local
    name: onnx_data      
  ollama_data: 
    driver: local